[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=catsrule
WorkingDirectory=/home/catsrule/sites/DOMAIN
EnvironmentFile=/home/catsrule/sites/DOMAIN/.env

ExecStart=/home/catsrule/sites/DOMAIN/virtualenv/bin/gunicorn \
    --bind unix:/tmp/DOMAIN.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user-target